.another{
    width:80px;
    height:40px;
    background:rgb(77, 206, 77);
    border-radius: 4px;
    color:White;
    margin:10px;
    border-color: transparent;
}
#id{
    padding:4px;
    margin:10px;
    width:200px;
}
h5{
    margin:10px;
}
.box{
    border:2px solid blueviolet;
    width:400px;
    h4{
        color:blueviolet;
        border:1px dotted blueviolet;
        margin:0px;
        padding:15px;
    }
    ul{
        list-style-type: none;
    }
}